<div mat-app-background fxLayout="column" fxLayoutAlign="space-evenly space-between" style="background-color: black;">
    <img src="/assets/logo.png" alt="Logo do software"/>
    <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Seu usuário" />
    </mat-form-field>
    <mat-form-field appearance="outline" >
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Senha" />
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="space-evenly">
        <button mat-raised-button color="accent">Registre-se</button>
        <button mat-raised-button color="primary">Entre</button>
    </div>
</div>